.topnavbar {
  /* background: linear-gradient(
    -206deg,
    var(--topnavbarcolor1) 5%,
    var(--topnavbarcolor2) 100%
  ); */
  background-color: var(--shine);
  position: fixed;
  display: block;
  height: 60px;
  width: 100%;
}
.topnavbar .brandname {
  position: absolute;
  left: 60px;
  height: 60px;
  width: 140px;
  color: var(--white);
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 600;
  transition: background-color 0.2s;
}
.topnavbar .sideBar_button {
  position: absolute;
  left: 200px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);
  text-align: center;
  transition: background-color 0.2s;
}
.topnavbar .sideBar_button:hover {
  background-color: var(--topnavbarHover);
}
.topnavbar .rightSide_button {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  color: var(--white);
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}
.topnavbar .rightSide_button:hover {
  background-color: var(--topnavbarHover);
}
.topnavbar .profile{
  position: absolute;
  right: 65px;
  height:100%;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.topnavbar .profile .userBtn{
  color: var(--white);
  background-color: transparent !important;
}
.topnavbar .profile .userBtn:hover ,.notification .notificationBtn:hover{
  cursor: pointer;
  background-color: rgba(0, 0,0, 0.2) !important;
  color: var(--dark) !important;
  transition: all 0.2s ease-in-out;
}
.topnavbar .profile .userBtn i{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topnavbar .notification{
  position: absolute;
  right: 105px;
  height:100%;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.topnavbar .notification .notificationBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
/* Left Side Panel */

.leftSidePanel {
  display: block;
  width: 260px;
  background-color: var(--shine);
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  padding-bottom: 4rem;
  white-space: nowrap;
}
.leftSidePanel .sidepanelCloseInner {
  display: none;
  transition: all 0.2s ease-in-out;
}

.topnavbar .toppanel_heading {
  position: absolute;
  left: 290px;
  height: 60px;
  width: auto;
  color: var(--white);
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.sidepanelCloseOuter {
  width: 0;
  transition: width 0.2s ease-in-out;
}
.rightSidePanel .rightSide_panel-content .rightpanel_content {
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
  color: var(--lightDark);
  transition: 0.2s ease-in-out;
}

.rightSidePanel .rightSide_panel-content .rightpanel_content:hover {
  background-color: var(--sidePanelHover);
  color: var(--moderateDark);
  padding: 8px 10px;
  transition: 0.2s ease-in-out;
}

.rightSidePanel .rightSide_panel-content .rightpanel_content .content_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.rightSidePanel .rightSide_panel-content .rightpanel_content .content_label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 6px;
  text-transform: uppercase;
}


.mainContainer {
  position: absolute;
  left: 260px;
  top:60px;
  right: 0;
  min-height: 90vh;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in;
  z-index: -1;
}
.sidePanelClosedContainer {
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
}
