.topnavbar {
  /* background: linear-gradient(
    -206deg,
    var(--topnavbarcolor1) 5%,
    var(--topnavbarcolor2) 100%
  ); */
  background-color: var(--cyan);
  position: fixed;
  display: block;
  height: 60px;
  width: 100%;
  box-shadow: 0 0px 0px 2px rgba(0,0,0,.2);
}

.topnavbar .sideBar_button {
  position: absolute;
  left: 250px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);
  text-align: center;
  transition: background-color 0.2s;
}
.topnavbar .sideBar_button:hover {
  background-color: var(--cyanOnHover);
}
.topnavbar .rightSide_button {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  color: var(--white);
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}
.topnavbar .rightSide_button:hover {
  background-color: var(--cyanOnHover);
}
.topnavbar .profile {
  position: absolute;
  right: 65px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.topnavbar .profile .userBtn {
  color: var(--white);
  background-color: transparent !important;
}
.topnavbar .profile .userBtn:hover,
.notification .notificationBtn:hover {
  cursor: pointer;
  background-color: var(--cyanOnHover) !important;
  color: var(--white) !important;
  transition: all 0.2s ease-in-out;
}
.topnavbar .profile .userBtn i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topnavbar .notification {
  position: absolute;
  right: 105px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.topnavbar .notification .notificationBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.topnavbar .search {
  position: absolute;
  height: 100%;
  right: 145px;
  width: 20rem;
  background-color: var(--cyan);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: -1;
}

.topnavbar .search-bar {
  --size: 2rem;
  border-radius: 50px;
  height: var(--size);
  width: var(--size);
  position: relative;
  transition: width 0.3s ease-in-out;
  overflow: hidden;


  &:focus-within {
    width: 100%;
    border: 2px solid var(--white);
    .search_field {
      opacity: 1;
      position: absolute;
      left: 0;
      width: calc(100% - var(--size));
    }
    .search_field::placeholder {
      color: var(--white);
    }
    .search_icon {
      display: flex;
      display: flex;
      justify-content: center;
      height: 2rem;
      width: 2rem;
      margin-top: 8px;
      margin-right: -2px;
      transition: none;
    }
  }
}
.topnavbar .search-bar:focus-within {
  height: 50px;
}
.topnavbar .search_field {
  flex-grow: 1 !important;
  font-size: 1.5rem;
  padding: 0 0.5em;
  border: 0;
  background: transparent;
  color: var(--white);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  line-height: calc(var(--size)-3px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &:focus {
    outline: 0;
  }
}
.topnavbar .search_icon {
  background-color: var(--cyan);
  display: flex;
  height: var(--size);
  width: var(--size);
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1rem;
  color: var(--white);
  margin-left: auto;
  /* margin-top: 6px; */
}
.topnavbar .search_icon:hover {
  cursor: pointer;
  background-color: var(--cyanOnHover) !important;
  color: var(--white) !important;
  transition: all 0.2s ease-in-out;
}

/* Left Side Panel */

.leftSidePanel {
  display: block;
  width: 250px;
  background-color: var(--cyan);
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  padding-bottom: 4rem;
  white-space: nowrap;
  overflow-x: hidden;
}
.leftSidePanel .brandname {
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  justify-content: center;
  background-color: var(--cyan);
  height: 60px;
  width: 250px;
  color: var(--white);
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.2s;
  z-index:1;
}

/* .leftSidePanel .sidepanelCloseInner {
  display: none;
  transition: all 0.2s ease-in-out;
} */

.topnavbar .toppanel_heading {
  position: absolute;
  left: 310px;
  height: 60px;
  width: auto;
  color: var(--white);
  text-align: center;
  line-height: 57px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.sidepanelCloseOuter {
  width: 55px !important;
  transition: width 0.2s ease-in-out;
}
.sidepanelCloseOuter:hover{
  width: 250px !important ;
  transition: width 0.2s ease-in-out;
}
.sidepanelCloseOuter .brandname {
  width: 55px !important;
  transition: width 0.2s ease-in-out;
}
.sidepanelCloseOuter .sideBar_button{
  left: 55px !important;
  transition: left 0.2s ease-in-out;
}
.sidepanelCloseOuter .toppanel_heading {
  left: 115px;
  transition: left 0.2s ease-in-out;
}
.sidepanelCloseOuter .brandIcon{
  position: fixed;
  height: 60px;
  width: 55px;
  font-size: 28px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.rightSidePanel .rightSide_panel-content .rightpanel_content {
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
  cursor: pointer;
  border-radius: 10px;
  color: var(--white);
  transition: 0.2s ease-in-out;
}

.rightSidePanel .rightSide_panel-content .rightpanel_content:hover {
  background-color: var(--cyanOnHover);
  color: var(--white);
  padding: 8px 2px;
  transition: 0.2s ease-in-out;
}

.rightSidePanel .rightSide_panel-content .rightpanel_content .content_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.rightSidePanel .rightSide_panel-content .rightpanel_content .content_label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 6px;
  text-transform: uppercase;
  color: var(--white);
}

.mainContainer {
  position: absolute;
  left: 250px;
  top: 60px;
  right: 0;
  min-height: 90vh;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in;
  z-index: -1;
}
.sidePanelClosedContainer {
  position: absolute;
  left: 55px;
  transition: all 0.2s ease-out;
}
