<div class="topnavbar flex w-screen bg-primary h-4rem">
  <!-- Left Panel -->
  <div class="leftSide">
    <div class="brandName">
      <h1>CADUtils</h1>
    </div>
    <button class="leftSide_panel" (click)="toggleSidebar()">
        <i class="dashboard-bars fa-solid fa-bars"></i>
    </button>
    <div class="leftSidepanel" [class.semi-closed]="isSidebarSemiClosed">
    </div>
  </div>
  

  <!-- Right panel -->
  <div class="rightSide">
    <button class="rightSide_panel" (click)="showRightPanel()">
      <i class="dashboard-left-arrow fa-solid fa-arrow-left"></i>
    </button>
    <p-sidebar [(visible)]="displayRightPanel" position="right">
      Right side content
    </p-sidebar>
  </div>
  
</div>
