<div class="topnavbar flex w-screen bg-primary h-4rem">
  <!-- Left Panel -->
  <div class="brandName">
    <h1>CAD-UTILS</h1>
  </div>
  <button class="leftSide_panel" (click)="toggleSidebar()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <div class="leftSidepanel" [class.semi-closed]="isSidebarSemiClosed">
    Left side content
  </div>

  <!-- Right panel -->

  <button class="rightSide_panel" (click)="showRightPanel()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <p-sidebar [(visible)]="displayRightPanel" position="right">
    Right side content
  </p-sidebar>
</div>
