<div class="addForm relative min-h-full" style="margin-bottom: 3rem">
  <div class="field grid">
    <label
      for="valuatorRelationshipName"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Valuator Relationship Name:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="relationshipType"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Type:</label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="natureOfRelationship"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Nature Of Relationship:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="percentageOfControl"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Percentage Of Control:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="vrdobregNp"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >VRDOBReg NP:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="dob"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >DOB/DOR:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="pan"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >PAN:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="panDistrict"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >PAN NO Issued District:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="panIssuedDateNp"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >PAN No Issued Date Np:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="panIssuedDate"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >PAN No Issued Date:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="gender"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Gender:</label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="citizenshipNo"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Citizenship No:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="citzIssuedDistrict"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >CitzNo Issued in District:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="citizenshipIssuedDateNp"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Citizenship Issued Date Np:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="citizenshipIssuedDate"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Citizenship Issued Date:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="voterId"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Voter ID:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="voterIdIssuedDistrict"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Voter ID issued District:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="voterIssuedDateNp"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Voter Issued Date Np:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="voterIssuedDate"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Voter No Issued Date:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div
    class="flex justify-content-left align-items-center font-bold text-xl m-3"
  >
    Passport and Indian Registration Details
  </div>
  <hr class="mb-3" />
  <div class="field grid">
    <label
      for="passport"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Passport:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="passportExpiryDate"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Passport Expiry Date:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="indianEmbassyRegNo"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Indian Embassy Reg No:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="indianEmbassyRegNoDate"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Indian Embassy Reg No Date:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div
    class="flex justify-content-left align-items-center font-bold text-xl m-3"
  >
    Family Details
  </div>
  <hr class="mb-3" />
  <div class="field grid">
    <label
      for="fatherName"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Father Name:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="grandFatherName"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Grand Father Name:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="spouse1"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Spouse 1:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="spouse2"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Spouse 2:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="motherName"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Mother Name:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div
    class="flex justify-content-left align-items-center font-bold text-xl m-3"
  >
    Permanent/Registered Address
  </div>
  <hr class="mb-3" />
  <div class="field grid">
    <label
      for="address1"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Address1 Type:</label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="municipaltiy"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Municipaltiy/VDC:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="ward"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Ward:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="addressDetail"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Address Detail(Tole):
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="poBox"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >PO Box:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="district"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >District:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="country"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Country:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div
    class="flex justify-content-left align-items-center font-bold text-xl m-3"
  >
    Telephone/Email Details
  </div>
  <hr class="mb-3" />
  <div class="field grid">
    <label
      for="telephoneNo1"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Telephone No 1:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="telephoneNo2"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Telephone No 2:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="fax1"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Fax 1:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="fax2"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Fax 2:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="mobileNo"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Mobile No:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="email"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Email:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="altEmail"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Alternative Email:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="dateOfLeaving"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Date Of Leaving:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="groupName"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Group Name:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="selectFile"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Select File:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
  <div class="field grid">
    <label
      for="isActive"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >isActive
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
    <label
      for="actionStatus"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Action Status:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">DATA</div>
  </div>
</div>
<div
  class="btnGroup absolute z-1 flex mt-3 h-3rem bg-white justify-content-end pb-2"
  style="bottom: 0px; width: 95%; margin-top: 3rem"
>
  <button
    pButton
    type="button"
    label="Cancel"
    class="p-button-raised p-button-text p-button-plain mr-2"
    (click)="onCancel()"
  ></button>
  <p-confirmPopup></p-confirmPopup>
  <button
    pButton
    type="button"
    label="Delete"
    class="p-button-raised p-button-danger p-button-plain mr-2"
    (click)="onDelete($event)"
  ></button>
</div>
