<div
  class="addForm relative min-h-full"
  style="margin-bottom: 3rem"
>
  <div class="field grid">
    <label
      for="valuatorName"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Valuator Name: </label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
    <label
      for="isIndividual"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Is Individual: </label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="vedobRegNp"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >VEDOBReg Np:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
    <label
      for="entityDob"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Entity's DOB/DOR:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="legalStatus"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Legal Status:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="companyRegNo"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Company Reg No:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
     DATA
    </div>
    <label
      for="companyRegNoIA"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Compnay RegNo IA:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
     DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="pan"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >PAN:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
    <label
      for="panDistrict"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >PAN NO Issued District:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
     DATA
    </div>
  </div>
  <div
    class="flex justify-content-left align-items-center font-bold text-xl m-3"
  >
    Permanent/Registered Address
  </div>
  <hr class="mb-3" />
  <div class="field grid">
    <label
      for="address1"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Address1 Type: </label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
    <label
      for="municipaltiy"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Municipaltiy/VDC:</label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="ward"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Ward: </label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
    <label
      for="addressDetail"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Address Detail(Tole):
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="district"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >District: </label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
    <label
      for="poBox"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >PO Box:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="country"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Country: </label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div
    class="flex justify-content-left align-items-center font-bold text-xl m-3"
  >
    Telephone and Email Details
  </div>
  <hr class="mb-3" />
  <div class="field grid">
    <label
      for="contactPerson"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Contact Person:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="telephoneNo1"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Telephone No 1:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
    <label
      for="telephoneNo2"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Telephone No 2:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="fax1"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Fax 1:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
    <label
      for="fax2"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Fax 2:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="mobileNo"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Mobile No:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="mainEmail"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Main Email:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
    DATA
    </div>
    <label
      for="altEmail"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Alternative Email:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
     DATA
    </div>
  </div>
  <div
    class="flex justify-content-left align-items-center font-bold text-xl m-3"
  >
    Security Details
  </div>
  <hr class="mb-3" />
  <div class="field grid">
    <label
      for="securityType1"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Security Type 1:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
    DATA
    </div>
    <label
      for="securityAmount1"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Security Amount 1: 
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
     DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="sExpiryDate1Np"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Security Expiry Date 1 -NP:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
    <label
      for="sExpiryDate1"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Security Expiry Date 1:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="securityType2"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Security Type 2:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
     DATA
    </div>
    <label
      for="securityAmount2"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Security Amount 2: 
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
     DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="sExpiryDate2Np"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Security Expiry Date 2 -NP:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
     DATA
    </div>
    <label
      for="sExpiryDate2"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Security Expiry Date 2:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div
    class="flex justify-content-left align-items-center font-bold text-xl m-3"
  >
    Valuator Enlistement Details
  </div>
  <hr class="mb-3" />
  <div class="field grid">
    <label
      for="reference"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Reference#: </label
    >
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="agmStartDate"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Agm Start Date:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
    <label
      for="agmEndDate"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Agm End Date:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
      DATA
     
    </div>
  </div>
  <div class="field grid">
    <label
      for="groupName"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Group Name:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
    <label
      for="isActive"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >isActive 
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
     DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="citzDoc"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >City/Reg Document:
    </label>
    <div class="col-5 md:col-3 sm:mb-1 sm:col-8">
     DATA
    </div>
    <label
      for="actionStatus"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Action Status:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      DATA
    </div>
  </div>
  <div class="field grid">
    <label
      for="provinceAddress"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Comment: </label
    >
    <div class="col-12 md:col-9 sm:col-8">
      DATA
    </div>
  </div>
</div>
<div
  class="btnGroup absolute z-1 flex mt-3 h-3rem bg-white justify-content-end pb-2"
  style="bottom: 0px; width: 95%; margin-top: 3rem"
>
  <button
    pButton
    type="button"
    label="Cancel"
    class="p-button-raised p-button-text p-button-plain mr-2"
    (click)="onCancel()"
  ></button>
</div>
