<div class="field grid">
  <label
    class="col-4 mb-1 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Department
    Name </label>
  <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
    <input id="departmentName" type="text" value="{{data[0].departmentName}}" disabled
      class="readonly text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
  </div>
  <label class="col-4 mb-1 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Short
    Name </label>
  <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
    <input id="abbr" type="text" value="{{data[0].abbr}}" disabled
      class="readonly text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
  </div>
</div>
<div class="field grid">
  <label class="col-4 mb-3 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Phone
    No
  </label>
  <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
    <input id="phoneNo" type="text" value="{{data[0].phoneNo}}" disabled
      class="readonly text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
  </div>
  <label class="col-4 mb-3 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Email
  </label>
  <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
    <input id="emailId" type="email" value="{{data[0].emailId}}" disabled
      class="readonly text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
  </div>
</div>
<div class="field grid">
  <label class="col-8 mb-2 md:col-2 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Full Address
  </label>
  <div class="col-16 md:col-10 sm:col-8">
    <textarea id="departmentAddress" type="text" rows="2" disabled
      class="readonly text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">{{data[0].departmentAddress}}
    </textarea>
  </div>
</div>
<div class="field grid">
  <label class="col-4 mb-3 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Fax
    No
  </label>
  <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
    <input id="faxNo" type="text" value="{{data[0].faxNo}}" disabled
      class="readonly text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
  </div>
  <label class="col-4 mb-3 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">DOE
  </label>
  <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
    <p-calendar [(ngModel)]="doe" class="readonly" [disabled]="true"></p-calendar>
  </div>
</div>
<div class="field grid" style="margin-top: 5px;">
  <label
    class="col-4 mb-3 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">isActive:
  </label>
  <div class="col-8 md:col-4 sm:mb-1 sm:col-8">
    <div class="checkBox">
      <input type="checkbox" [checked]="data[0].isActive" disabled />
    </div>
  </div>
</div>
<div class="btnGroup absolute z-1 flex h-2rem bg-white justify-content-end">
  <p-button label="Close" class="closeBtn" (click)="onCancel()"></p-button>
</div>