<div class=" relative min-h-full h-auto mb-3">
  <div class="field grid">
    <label
      for="deptName"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Dept Name: <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].deptName}}
    </div>
  </div>
  <div class="field grid">
    <label
      for="shortName"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Short Name: <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].shortName}}
    </div>
    <label
      for="parentIdentifer"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Parent Identifier:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].parentIdentifer}}
    </div>
  </div>
  <div class="field grid">
    <label
      for="deptAddress"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Dept Address: <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].deptAddress}}
    </div>
    <label
      for="phoneNo"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end font-bold sm:col-4"
      >Phone No <span style="color: red">&nbsp; *</span>
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].phoneNo}}
    </div>
  </div>
  <div class="field grid">
    <label
      for="p-segHead"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Primary Seg-Head:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].psegHead}}
    </div>
    <label
      for="s-segHead"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Secondary Seg-Head:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].ssegHead}}
    </div>
  </div>
  <div class="field grid">
    <label
      for="faxno"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end font-bold sm:col-4"
      >Fax Number:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].faxno}}
    </div>
    <label
      for="establishedDate"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end font-bold sm:col-4"
      >Date Of Established:<span style="color: red">&nbsp; *</span>
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].establishedDate}}
    </div>
  </div>
  <div class="field grid">
    <label
      for="depemail"
      class="col-12 mb-2 md:col-3 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Email Address <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-12 md:col-9 sm:col-8">
      {{data[0].depemail}}
    </div>
  </div>
  <div class="field grid">
    <label
      for="emailtopsh"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Email To PSH: <span style="color: red">&nbsp; *</span>
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].emailtopsh}}
    </div>
    <label
      for="emailtossh"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Email To SSH: <span style="color: red">&nbsp; *</span>
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].emailtossh}}
    </div>
  </div>
  <div class="field grid">
    <label
      for="deptfun"
      class="col-12 mb-2 md:col-3 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Dept Function <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-12 md:col-9 sm:col-8">
      {{data[0].deptfun}}
    </div>
  </div>
  <div class="field grid">
    <label
      for="isActive"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >isActive: <span style="color: red">&nbsp; *</span>
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      {{data[0].isActive}}
    </div>
    </div>
</div>
<div
  class="btnGroup absolute z-1 flex mt-3 h-3rem bg-white justify-content-end pb-2"
  style="bottom: 0px; width: 95%; margin-top: 3rem"
>
  <button
    pButton
    type="button"
    label="Cancel"
    class="p-button-raised p-button-text p-button-plain"
    (click)="onCancel()"
  ></button>
</div>
