<div class="heading font-semibold text-xl">
    <span><i class="fa-solid fa-chart-column"></i> Performance Report as of {{formattedDate}}</span>
</div>
<div class="displayData">
    <div class="data bg-blue-600 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Total Records!
    </div>
    <div class= "data bg-blue-600 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Total Commercial!
    </div>
    <div class= "data bg-blue-600 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Total Consumer!
    </div>
</div>

<div class="displayData">
    <div class="dataGreen bg-green-300 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Total Completed!
    </div>
    <div class= "dataGreen bg-green-300 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Commercial Completed!
    </div>
    <div class= "dataGreen bg-green-300 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Consumer Completed!
    </div>
</div>
<div class="displayData">
    <div class="data bg-orange-400 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Total Active Records!
    </div>
    <div class= "data bg-orange-400 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Active Commercial Completed!
    </div>
    <div class= "data bg-orange-400 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Active Consumer Completed!
    </div>
</div>
<div class="displayData">
    <div class="dataLightBlue bg-blue-200 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Total Closed Completed!
    </div>
    <div class= "dataLightBlue bg-blue-200 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Closed Commercial Completed!
    </div>
    <div class= "dataLightBlue bg-blue-200 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Closed Consumer Completed!
    </div>
</div>
<div class="displayData">
    <div class="dataYellow bg-yellow-100 m-2 px-5 py-3 border-round">
        00%
        <br>
        Total Completed Percent!
    </div>
    <div class= "dataYellow bg-yellow-100 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Commercial Completed Percent!
    </div>  
    <div class= "dataYellow bg-yellow-100 m-2 px-5 py-3 border-round">
        00,000
        <br>
        Consumer Completed Percent!
    </div>
</div>
<hr>
