
<div class="card mt-3">
    <p-table
      #search
      [value]="data"
      loadingIcon="fa-solid fa-spinner fa-spin-pulse"
      [loading]="isLoading"
      [breakpoint]="'960px'"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [paginator]="true"
      [filterDelay]="0"
      [tableStyle]="{ 'min-width': '70rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
            <i class="fa-solid fa-search"></i>
            <input
              pInputText
              type="text"
              (input)="
              search.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Search here..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">Ref</th>
          <th style="width: 20%">Name</th>
          <th style="width: 10%">Type</th>
          <th style="width: 20%">Backup_on</th>
          <th style="width: 20%">Backup_By</th>
        </tr>      </ng-template>
      <ng-template pTemplate="body" let-data> 
        <tr>
          <!-- <td>
            <button
              pButton
              pRipple
              icon="fa-solid fa-file"
              class="h-2rem w-2rem p-button-rounded p-button-warning mr-1"
              (click)="showData(data.id)"
            ></button>
            <button
              pButton
              pRipple
              icon="fa-solid fa-pen-to-square"
              class="h-2rem w-2rem p-button-rounded p-button-success mr-1"
              (click)="editData(data.id)"
            ></button>
            <button
              pButton
              pRipple
              icon="fa-solid fa-trash"
              class="h-2rem w-2rem p-button-rounded p-button-danger"
              (click)="deleteData(data.id)"
            ></button>
          </td> -->
          <!-- <td>{{ data?.id }}</td>
          <td>{{ data?.uid }}</td>
          <td>{{ data?.account_number }}</td>
          <td>{{ data?.iban }}</td>
          <td>{{ data?.bank_name }}</td>
          <td>{{ data?.swift_bic }}</td>
          <td>{{ data?.swift_bic }}</td>
          <td>{{ data?.swift_bic }}</td> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="9" style="text-align: center;">Sorry! No record found </td>
          </tr>
      </ng-template>
    </p-table>
  </div>