
<div class="card mt-3">
    <p-table
      #search
      [value]="data"
      loadingIcon="fa-solid fa-spinner fa-spin-pulse"
      [loading]="isLoading"
      [breakpoint]="'960px'"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [paginator]="true"
      [filterDelay]="0"
      [tableStyle]="{ 'min-width': '70rem' }"
      styleClass ="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="ref">Ref<p-sortIcon field="ref"></p-sortIcon></th>
          <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="type">Type<p-sortIcon field="type"></p-sortIcon></th>
          <th pSortableColumn="backup_on">Backup_on<p-sortIcon field="backup_on"></p-sortIcon></th>
          <th pSortableColumn="backup_by">Backup_By<p-sortIcon field="backup_by"></p-sortIcon></th>
        </tr>    
        <tr class="filterSection">
          <th>
            <p-columnFilter type="text" field="ref"[showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="name" [showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="type" [showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="backup_on" [showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="backup_by" [showClearButton]="false"></p-columnFilter>
          </th>            
        </tr>   
      </ng-template>
      <ng-template pTemplate="body" let-data> 
        <tr style="white-space: nowrap">
          <!-- <td class="actionMenu flex justify-content-center align-items-center" >
          <p-overlayPanel #setting [styleClass]="'actionOverlay'">
            <ng-template pTemplate="content" >
              <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="showData(data.id)">
               <i class="fa-solid fa-file mr-2"></i> View
              </div>
              <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="editData(data.id)">
                <i class="fa-solid fa-pen-to-square mr-2"></i> Edit
              </div>
              <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="deleteData(data.id)">
                <i class="fa-solid  fa-trash mr-2"></i> Delete
              </div>
             </ng-template>  
          </p-overlayPanel>
          <div pRipple class="action border-circle w-2rem h-2rem flex justify-content-center align-items-center" (click)="setting.toggle($event)">
            <i class="fa-solid fa-gear"></i>
          </div>
        </td>-->
          <!-- <td>{{ data?.id }}</td>
          <td>{{ data?.uid }}</td>
          <td>{{ data?.account_number }}</td>
          <td>{{ data?.iban }}</td>
          <td>{{ data?.bank_name }}</td>
          <td>{{ data?.swift_bic }}</td>
          <td>{{ data?.swift_bic }}</td>
          <td>{{ data?.swift_bic }}</td> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="6" style="text-align: center;">Sorry! No record found </td>
          </tr>
      </ng-template>
    </p-table>
  </div>