<div class="employeeHeading">
    <span class="text-3xl font-semibold">User Management</span>
</div>
<div class="card mt-3">
  <p-toast></p-toast>
  <p-table
    #search
    [value]="data"
    loadingIcon="fa-solid fa-spinner fa-spin-pulse"
    [loading]="isLoading"
    [breakpoint]="'960px'"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    [filterDelay]="0"
    [globalFilterFields]="['loginidhremployee', 'fullname']"
    [tableStyle]="{ 'min-width': '100rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="fa-solid fa-search"></i>
          <input
            pInputText
            type="text"
            (input)="search.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search here..."
          />
        </span>
        <div class="btnGroup ml-1">
          <p-button
            icon="fa-solid fa-arrow-up-right-from-square"
            styleClass="p-button-success mr-1"
          ></p-button>
          <p-button
            icon="fa-solid fa-circle-plus"
            (click)="addData()"
          ></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 31%"></th>
        <th pSortableColumn="loginidhremployee" style="width: 10%">
          LoginIDHREmployee
        </th>
        <th pSortableColumn="fullname" style="width: 20%">FullName</th>
        <th pSortableColumn="defaultBranch" style="width: 10%">Branch</th>
        <th pSortableColumn="roleName" style="width: 20%">Role</th>
        <th pSortableColumn="emailAddress" style="width: 20%">
          EmailID
        </th>
        <th pSortableColumn="defaultModule" style="width: 20%">DefaultModule</th>
        <th pSortableColrumn="restrictAccessByBranch" style="width: 10%">
          RestrictByBranch
        </th>
        <th pSortableColrumn="allowprovincebranch" style="width: 10%">
          AllowProvinceBranch
        </th>
        <th pSortableColumn="isActive" style="width: 20%">isActive</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>
          <button
            pButton
            pRipple
            icon="fa-solid fa-key"
            class="p-button-rounded p-button-warning p-button-text "
            (click)="showData(data.loginIdentifer)"
          ></button>
          <button
            pButton
            pRipple
            icon="fa-solid fa-file"
            class="p-button-rounded p-button-secondary p-button-text "
            (click)="showData(data.loginIdentifer)"
          ></button>
          <button
            pButton
            pRipple
            icon="fa-solid fa-pen-to-square"
            class="p-button-rounded p-button-success p-button-text"
            (click)="editData(data.loginIdentifer)"
          ></button>
          <button
            pButton
            pRipple
            icon="fa-solid fa-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="deleteData(data.loginIdentifer)"
          ></button>
        </td>
        <td>{{ data?.loginIdentifer }}</td>
        <td>{{ data?.fullname }}</td>
        <td>{{ data?.defaultBranch }}</td>
        <td>{{ data?.roleName }}</td>
        <td>{{ data?.emailAddress }}</td>
        <td>{{ data?.defaultModule }}</td>
        <td>{{ data?.restrictAccessByBranch }}</td>
        <td>{{ data?.restrictAccessByBranch }}</td>
        <td>{{ data?.isActive }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" style="text-align: center">Sorry! No record found</td>
      </tr>
    </ng-template>
  </p-table>
</div>

  
