<p-toast></p-toast>
<app-custom-loading *ngIf="(loadingService.isLoading$ | async)"></app-custom-loading>
<form [formGroup]="myForm" class="addForm relative min-h-full h-auto mb-3">
  <div class="field grid">
    <label
      class="col-4 mb-1 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Department
      Name <span style="color: red">&nbsp; *</span></label>
    <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
      <input id="departmentName" type="text" formControlName="departmentName" [ngClass]="{
          'invalid-input':
            myForm.get('departmentName')?.invalid &&
            myForm.get('departmentName')?.touched
        }"
        class="h-full text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    </div>
    <label class="col-4 mb-1 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Short
      Name <span style="color: red">&nbsp; *</span></label>
    <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
      <input id="abbr" type="text" formControlName="abbr" [ngClass]="{
          'invalid-input':
            myForm.get('abbr')?.invalid &&
            myForm.get('abbr')?.touched
        }"
        class="h-full text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    </div>
  </div>
  <div class="field grid">
    <label class="col-4 mb-3 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Phone
      No
    </label>
    <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
      <input id="phoneNo" type="text" formControlName="phoneNo" [ngClass]="{
          'invalid-input':
            myForm.get('phoneNo')?.invalid && myForm.get('phoneNo')?.touched
        }"
        class="h-full text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    </div>
    <label class="col-4 mb-3 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Email
      <span style="color: red">&nbsp; *</span></label>
    <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
      <input id="emailId" type="email" formControlName="emailId" [ngClass]="{
          'invalid-input':
            myForm.get('emailId')?.invalid &&
            myForm.get('emailId')?.touched
        }"
        class="h-full text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    </div>
  </div>
  <div class="field grid">
    <label class="col-8 mb-2 md:col-2 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Full Address
      <span style="color: red">&nbsp; *</span></label>
    <div class="col-16 md:col-10 sm:col-8">
      <textarea id="departmentAddress" type="text" rows="2" formControlName="departmentAddress" [ngClass]="{
          'invalid-input':
            myForm.get('departmentAddress')?.invalid &&
            myForm.get('departmentAddress')?.touched
        }"
        class="h-full text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </textarea>
    </div>
  </div>
  <div class="field grid">
    <label class="col-4 mb-3 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">Fax
      No
    </label>
    <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
      <input id="faxNo" type="text" formControlName="faxNo" [ngClass]="{
          'invalid-input':
            myForm.get('faxNo')?.invalid && myForm.get('faxNo')?.touched
        }"
        class="h-full text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    </div>
    <label class="col-4 mb-3 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">DOE
      <span style="color: red">&nbsp; *</span></label>
    <div class="input col-8 md:col-4 sm:mb-1 sm:col-8">
      <p-calendar formControlName="doe" [(ngModel)]="myForm.value.doe" [ngClass]="{
          'invalid-input':
            myForm.get('doe')?.invalid &&
            myForm.get('doe')?.touched
        }" appendTo="body"></p-calendar>
    </div>
  </div>
  <div class="field grid" style="margin-top: 5px;">
    <label
      class="col-4 mb-3 md:col-2 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4">isActive:
    </label>
    <div class="col-8 md:col-4 sm:mb-1 sm:col-8">
      <div class="checkBox">
        <input type="checkbox" formControlName="isActive" />
      </div>
    </div>
  </div>
</form>
<div class="btnGroup absolute z-1 flex h-2rem bg-white justify-content-end">
  <p-button label="Close" class="closeBtn" (click)="onCancel()"></p-button>
  <p-button label="Submit" class="submitBtn" (click)="onSubmit()"></p-button>
</div>