<p-toast></p-toast>
<div class="btnGroup-topbar">
<p-button
  icon="fa-solid fa-circle-plus"
  (click)="addData()"
></p-button>
</div>
<div class="card mt-3">
    <p-table
      #search
      [value]="data"
      loadingIcon="fa-solid fa-spinner fa-spin-pulse"
      [loading]="isLoading"
      [breakpoint]="'960px'"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [paginator]="true"
      [filterDelay]="0"
      [tableStyle]="{ 'min-width': '80rem' }"
      styleClass ="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr style="white-space: nowrap">
          <th></th>
          <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="natureOfData">NatureOfData <p-sortIcon field="natureOfData"></p-sortIcon></th>
          <th pSortableColumn="versionComment">VersionComment <p-sortIcon field="versionComment"></p-sortIcon></th>
          <th pSortableColumn="isActive">isActive <p-sortIcon field="isActive"></p-sortIcon></th>
        </tr>
        <tr class="filterSection">
          <th>
          </th>
          <th>
            <p-columnFilter type="text" field="id"[showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="natureOfData" [showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="versionComment" [showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="isActive" [showClearButton]="false"></p-columnFilter>
        </th>   
        </tr> 
        </ng-template>
  
      <ng-template pTemplate="body" let-data>
        <tr style="white-space: nowrap">
          <td>
            <button
              pButton
              pRipple
              icon="fa-solid fa-file"
              class="functionButton p-button-rounded p-button-secondary p-button-text"
              (click)="viewData(data?.id)"
            ></button>
            <button
              pButton
              pRipple
              icon="fa-solid fa-pen-to-square"
              class="functionButton p-button-rounded p-button-success p-button-text"
              (click)="editData(data?.id)"
            ></button>
            <button
              pButton
              pRipple
              icon="fa-solid fa-trash"
              class="functionButton p-button-rounded p-button-danger p-button-text"
              (click)="deleteData(data?.id)"
            ></button>
          </td>
          <td>{{ data?.id }}</td>
          <td>{{ data?.natureOfData===true?'Consumer':'Commercial' }}</td>
          <td>{{ data?.versionComment }}</td>
          <td>{{ data?.isActive }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9" style="text-align: center">Sorry! No record found</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  