<div class="flex justify-content-center align-items-center h-screen">
  <p-card>
    <p-header class="flex justify-content-center m-2 p-2">
      <h1 class=" m-2" style="color: var(--primary);">CAD-UTILS</h1>
    </p-header>
    <div class="cbiInfo flex flex-wrap" style="margin-top: -30px">
      <i class="fa-solid fa-chevron-right p-2 " style="background-color: var(--success);color: var(--white);"></i>
      <span class="cbi-login-info p-2">
        Type your Username and Password
      </span>
    </div>
    <form class="cib_login flex flex-column" #loginForm="ngForm">
      <div *ngIf="isCredentialsFailed" class="mt-3" style="color: var(--danger);">
        Invalid credentials
      </div>
      <span class="p-float-label flex w-full mt-5">
        <input
          pInputText
          id="username"
          [(ngModel)]="username"
          #usernameInput="ngModel"
          [ngModelOptions]="{ standalone: true }"
          [ngClass]="{
            'ng-invalid ng-dirty': isCredentialsFailed
          }"
        />
        <label htmlFor="username" class="flex w-full text-lg mb-1"
          >Username</label
        >
      </span>
      <span class="p-float-label flex w-full mt-5">
        <input
          pInputText
          id="password"
          [(ngModel)]="password"
          #passwordInput="ngModel"
          [ngModelOptions]="{ standalone: true }"
          type="password"
          [ngClass]="{
            'ng-invalid ng-dirty': isCredentialsFailed
          }"
        />
        <label htmlFor="password" class="flex w-full text-lg mb-1"
          >Password</label
        >
      </span>
      <button
        pButton
        pRipple
        label="Submit"
        (click)="onLogin()"
        class="p-button mt-3"
      ></button>
    </form>
  </p-card>
</div>
