<div class="card mt-3">
    <p-table
      #search
      [value]="data"
      loadingIcon="fa-solid fa-spinner fa-spin-pulse"
      [loading]="isLoading"
      [breakpoint]="'960px'"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [paginator]="true"
      [filterDelay]="0"
      [tableStyle]="{ 'min-width': '70rem' }"
    styleClass ="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr style="white-space: nowrap;">
          <th pSortableColumn="id">
            Id <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="permissionhead">PermissionHead <p-sortIcon field="permissionhead"></p-sortIcon></th>
          <th pSortableColumn="fonticon" >FontIcon <p-sortIcon field="fonticon"></p-sortIcon></th>
          <th pSortableColumn="isParent" >IsParent <p-sortIcon field="isParent"></p-sortIcon></th>
          <th pSortableColumn="catCode" >
            CatCode <p-sortIcon field="catCode"></p-sortIcon>
          </th>
          <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
        </tr>
        <tr class="filterSection">
          <th>
            <p-columnFilter type="text" field="id"[showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="permissionhead" [showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="fonticon" [showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="isParent" [showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="catCode" [showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="description" [showClearButton]="false" ></p-columnFilter>
        </th>           
        </tr> 
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr style="white-space: nowrap;">
          <td>{{data?.id}}</td>
          <td>{{data?.permissionhead}}</td>
          <td>{{data?.fonticon}}</td>
          <td>{{data?.isParent}}</td>
          <td>{{data?.catCode}}</td>
          <td>{{data?.description}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" style="text-align: center">Sorry! No record found</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
    
  