<div class="card mt-3">
  <p-table
    [value]="data"
    styleClass="p-datatable-sm p-datatable-striped "
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '70rem' }"
    [rows]="5"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    styleClass ="p-datatable-gridlines"
  >
    <!-- 
     -->
    <!-- 
    [rowsPerPageOptions]="[5,10, 25, 50,100]" 
    <th pSortableColumn="id"  style="width:30%">Id <p-sortIcon class="hidden" field="id"></p-sortIcon></th>
-->
    <ng-template pTemplate="header">
      <p-toast [ngClass]="'custom-toast'"></p-toast>
      <tr>
        <th></th>
        <th pSortableColumn="companyName">Company Name <p-sortIcon field="companyName"></p-sortIcon></th>
        <th pSortableColumn="dataProviderId">DPID <p-sortIcon field="dataProviderId"></p-sortIcon></th>
        <th pSortableColumn="prevDataProviderId">Prev.DPID <p-sortIcon field="prevDataProviderId"></p-sortIcon></th>
        <th pSortableColumn="tradingSymbol">TradingSym <p-sortIcon field="tradingSymbol"></p-sortIcon></th>
        <th pSortableColumn="secretKey">SecretKey <p-sortIcon field="secretKey"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr style="white-space: nowrap;">
        <td class="actionMenu flex justify-content-center align-items-center" >
          <p-overlayPanel #setting [styleClass]="'actionOverlay'">
            <ng-template pTemplate="content" >
              <div pRipple class="actionItem w-full h-2rem flex justify-content-center align-items-center" (click)="showData(data.id)">
               <i class="fa-solid fa-file mr-2"></i> View
              </div>
              <div pRipple class="actionItem w-full h-2rem flex justify-content-center align-items-center" (click)="editData(data.id)">
                <i class="fa-solid fa-pen-to-square mr-2"></i> Edit
              </div>
             </ng-template>  
          </p-overlayPanel>
          <div pRipple class="action border-circle w-2rem h-2rem flex justify-content-center align-items-center" (click)="setting.toggle($event)">
            <i class="fa-solid fa-gear"></i>
          </div>
        </td>
        <td>{{ data.companyName }}</td>
        <td>{{ data.dataProviderId }}</td>
        <td>{{ data.prevDataProviderId }}</td>
        <td>{{ data.tradingSymbol }}</td>
        <td>{{ data.secretKey }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
