<div class="btnGroup-topbar">
 <p-button
  icon="fa-solid fa-circle-plus"
  (click)="addData()"
></p-button>
</div>
<div class="card mt-3">
    <p-toast></p-toast>
  <p-table
    #search
    [value]="data"
    loadingIcon="fa-solid fa-spinner fa-spin-pulse"
    [loading]="isLoading"
    [breakpoint]="'960px'"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    [filterDelay]="0"
    [tableStyle]="{ 'min-width': '70rem' }"
    styleClass ="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr style="white-space: nowrap">
        <th></th>
        <th pSortableColumn="templateName">TemplateName <p-sortIcon field="templateName"></p-sortIcon></th>
        <th pSortableColumn="emailHeader">EmailHeader <p-sortIcon field="emailHeader"></p-sortIcon></th>
      </tr>
      <tr class="filterSection">
        <th>
        </th>
        <th>
          <p-columnFilter type="text" field="templateName"[showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="emailHeader" [showClearButton]="false"></p-columnFilter>
      </th>          
      </tr> 
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr style="white-space: nowrap">
        <td class="actionMenu flex justify-content-center align-items-center" >
          <p-overlayPanel #setting [styleClass]="'actionOverlay'">
            <ng-template pTemplate="content" >
              <!-- <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="showData(data.templateName)">
               <i class="fa-solid fa-file mr-2"></i> View
              </div> -->
              <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="editData(data.templateName)">
                <i class="fa-solid fa-pen-to-square mr-2"></i> Edit
              </div>
              <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="deleteData(data.templateName)">
                <i class="fa-solid  fa-trash mr-2"></i> Delete
              </div>
             </ng-template>  
          </p-overlayPanel>
          <div pRipple class="action border-circle w-2rem h-2rem flex justify-content-center align-items-center" (click)="setting.toggle($event)">
            <i class="fa-solid fa-gear"></i>
          </div>
        </td>
        <td>{{ data?.templateName }}</td>
        <td>{{ data?.emailHeader }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" style="text-align: center">Sorry! No record found</td>
      </tr>
    </ng-template>
  </p-table>
</div>
