<p-toast></p-toast>
<div class="btnGroup-topbar">
  <p-overlayPanel #op [styleClass]="'export'">
    <ng-template pTemplate="content" >
      <p class="exportButton" (click)="exportExcel(op)">Pdf</p>
      <p class="exportButton" (click)="exportExcel(op)">Excel</p>
    </ng-template>
</p-overlayPanel>
<p-button (click)="op.toggle($event)" icon="fa-solid fa-arrow-up-right-from-square"></p-button>
<p-button
  icon="fa-solid fa-circle-plus"
  (click)="addData()"
></p-button>
</div>
<div class="card mt-3">
  <p-table
    #search
    [value]="data"
    loadingIcon="fa-solid fa-spinner fa-spin-pulse"
    [loading]="isLoading"
    [breakpoint]="'960px'"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    [filterDelay]="0"
    [tableStyle]="{ 'min-width': '70rem' }"
    dataKey="id"
    styleClass ="p-datatable-gridlines"
  >

    <ng-template pTemplate="header">
      <tr style="white-space: nowrap">
        <th></th>
        <th pSortableColumn="vettype">VETType <p-sortIcon field="vettype"></p-sortIcon></th>
        <th pSortableColumn="vename">VEName <p-sortIcon field="vename"></p-sortIcon></th>
        <th pSortableColumn="vedobref">VEDOBReg <p-sortIcon field="vedobref"></p-sortIcon></th>
        <th pSortableColumn="veaddress">VEAddressLine1 <p-sortIcon field="veaddress"></p-sortIcon></th>
        <th pSortableColumn="enlisted">EnlistedOn <p-sortIcon field="enlisted"></p-sortIcon></th>
        <th pSortableColumn="agmenddate">AgmEndDate <p-sortIcon field="agmenddate"></p-sortIcon></th>
        <th pSortableColumn="isactive">isActive <p-sortIcon field="isactive"></p-sortIcon></th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
      </tr>
      <tr class="filterSection">
        <th>
        </th>
        <th>
          <p-columnFilter type="text" field="vettype"[showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="vename" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="vedobref" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="veaddress" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="enlisted" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="agmenddate" [showClearButton]="false" ></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="isActive" [showClearButton]="false" ></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="status" [showClearButton]="false" ></p-columnFilter>
    </th>
          
      </tr> 
    </ng-template>
    <ng-template pTemplate="body" let-data let-expanded="expanded">
      <tr style="white-space: nowrap">
        <td>
          <button
            type="button"
            style="height: 10px; width: 20px;"
            pButton
            pRipple
            [pRowToggler]="data"
            [class]="
              expanded
                ? ' p-button-rounded p-button-danger '
                : ' p-button-rounded p-button-success '
            "
            [icon]="expanded ? 'fa-solid fa-minus' : 'fa-solid fa-plus'"
          ></button>
        </td>
        <td>{{ data?.vettype }}</td>
        <td>{{ data?.test2 }}</td>
        <td>{{ data?.test2 }}</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-data>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <p-table [value]="data.id" dataKey="id">
              <ng-template pTemplate="header">
                <tr style="white-space: nowrap">
                  <th class="actionMenu flex justify-content-center align-items-center" >
                    <p-overlayPanel #setting [styleClass]="'actionOverlay'">
                      <ng-template pTemplate="content" >
                        <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="viewData(data.vettype)">
                         <i class="fa-solid fa-file mr-2"></i> View
                        </div>
                        <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="editData(data.vettype)">
                          <i class="fa-solid fa-pen-to-square mr-2"></i> Edit
                        </div>
                        <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="deleteData(data.vettype)">
                          <i class="fa-solid  fa-trash mr-2"></i> Delete
                        </div>
                       </ng-template>  
                    </p-overlayPanel>
                    <div pRipple class="action border-circle w-2rem h-2rem flex justify-content-center align-items-center" (click)="setting.toggle($event)">
                      <i class="fa-solid fa-gear"></i>
                    </div>
                  </th>
                  <th pSortableColumn="documenttype">Document Type <p-sortIcon field="documenttype"></p-sortIcon></th>
                  <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                  <th pSortableColumn="receivedOn">Received On <p-sortIcon field="receivedOn"></p-sortIcon></th>
                  <th pSortableColumn="expiresOn">Expires On <p-sortIcon field="expiresOn"></p-sortIcon></th>
                  <th pSortableColumn="renewalType">Renewal Type <p-sortIcon field="renewalType"></p-sortIcon></th>
                  <th pSortableColumn="createdBy">Created_By <p-sortIcon field="createdBy"></p-sortIcon></th>
                  <th pSortableColumn="createdOn">Created_On <p-sortIcon field="createdOn"></p-sortIcon></th>
                  <th pSortableColumn="updatedBy">Updated_By <p-sortIcon field="updatedBy"></p-sortIcon></th>
                  <th pSortableColumn="updatedOn">Updated_On <p-sortIcon field="updatedOn"></p-sortIcon></th>
                </tr>
                <tr class="filterSection">
                  <th>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="documenttype"[showClearButton]="false"></p-columnFilter>
                </th>
                  <th>
                    <p-columnFilter type="text" field="description" [showClearButton]="false"></p-columnFilter>
                </th>
                  <th>
                    <p-columnFilter type="text" field="receivedOn" [showClearButton]="false"></p-columnFilter>
                </th>
                  <th>
                    <p-columnFilter type="text" field="expiresOn" [showClearButton]="false"></p-columnFilter>
                </th>
                  <th>
                    <p-columnFilter type="text" field="renewalType" [showClearButton]="false"></p-columnFilter>
                </th>
                  <th>
                    <p-columnFilter type="text" field="createdBy" [showClearButton]="false" ></p-columnFilter>
                </th>
                  <th>
                    <p-columnFilter type="text" field="createdOn" [showClearButton]="false" ></p-columnFilter>
                </th>
                  <th>
                    <p-columnFilter type="text" field="updatedBy" [showClearButton]="false" ></p-columnFilter>
                </th>
                  <th>
                    <p-columnFilter type="text" field="updatedOn" [showClearButton]="false" ></p-columnFilter>
                </th>
                    
                </tr> 
              </ng-template>
              <ng-template pTemplate="body" let-documentData>
                <tr style="white-space: nowrap">
                  <td></td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                </tr>
                
              </ng-template>
              <ng-template pTemplate="summary"> 
                <tr class="documentFooter">
                  <td colspan="10"><p-button label="Add Document(s)" (click)="addValuatorDocument()"></p-button></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="10" style="text-align: center">Sorry! No record found</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" style="text-align: center">Sorry! No record found</td>
      </tr>
    </ng-template>
  </p-table>
</div>
