<div class="card mt-3">
  <p-toast></p-toast>
  <p-table
    #search
    [value]="data"
    loadingIcon="fa-solid fa-spinner fa-spin-pulse"
    [loading]="isLoading"
    [breakpoint]="'960px'"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    [filterDelay]="0"
    [globalFilterFields]="['vettype', 'vename']"
    [tableStyle]="{ 'min-width': '100rem' }"
    dataKey="id"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="fa-solid fa-search"></i>
          <input
            pInputText
            type="text"
            (input)="search.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search here..."
          />
        </span>
        <div class="btnGroup ml-1">
          <p-button
            icon="fa-solid fa-arrow-up-right-from-square"
            styleClass="p-button-success mr-1"
            (click)="exportExcel()"
          ></p-button>
          <p-button
            icon="fa-solid fa-circle-plus"
            (click)="addData()"
          ></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="vettype">VETType</th>
        <th pSortableColumn="vename">VEName</th>
        <th pSortableColumn="vedobref">VEDOBReg</th>
        <th pSortableColumn="veaddress">VEAddressLine1</th>
        <th pSortableColumn="enlisted">EnlistedOn</th>
        <th pSortableColumn="agmenddate">AgmEndDate</th>
        <th pSortableColrumn="isactive">isActive</th>
        <th pSortableColrumn="status">Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-expanded="expanded">
      <tr style="white-space: nowrap">
        <td>
          <button
            type="button"
            class="h-2rem w-2rem"
            pButton
            pRipple
            [pRowToggler]="data"
            [class]="
              expanded
                ? ' p-button-rounded p-button-danger '
                : ' p-button-rounded p-button-success '
            "
            [icon]="expanded ? 'fa-solid fa-minus' : 'fa-solid fa-plus'"
          ></button>
        </td>
        <td>{{ data?.vettype }}</td>
        <td>{{ data?.test2 }}</td>
        <td>{{ data?.test2 }}</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-data>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <p-table [value]="data.id" dataKey="id">
              <ng-template pTemplate="header">
                <tr style="white-space: nowrap">
                  <th>
                    <button
                      pButton
                      pRipple
                      icon="fa-solid fa-file"
                      class="p-button-rounded p-button-secondary p-button-text"
                      (click)="viewData(data.vettype)"
                      
                    ></button>
                    <button
                      pButton
                      pRipple
                      icon="fa-solid fa-pen-to-square"
                      class="p-button-rounded p-button-success p-button-text"
                      (click)="editData(data.vettype)"
                    ></button>
                    <button
                      pButton
                      pRipple
                      icon="fa-solid fa-trash"
                      class="p-button-rounded p-button-danger p-button-text"
                      (click)="deleteData(data.vettype)"
                    ></button>
                  </th>
                  <th pSortableColumn="documenttype">Document Type</th>
                  <th pSortableColumn="description">Description</th>
                  <th pSortableColumn="receivedOn">Received On</th>
                  <th pSortableColumn="expiresOn">Expires On</th>
                  <th pSortableColumn="renewalType">Renewal Type</th>
                  <th pSortableColumn="createdBy">Created_By</th>
                  <th pSortableColumn="createdOn">Created_On</th>
                  <th pSortableColumn="updatedBy">Updated_By</th>
                  <th pSortableColumn="updatedOn">Updated_On</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-documentData>
                <tr style="white-space: nowrap">
                  <td></td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                  <td>{{ documentData?.documentName }}</td>
                </tr>
                
              </ng-template>
              <ng-template pTemplate="summary"> 
                <tr class="documentFooter">
                  <td colspan="10"><p-button label="Add Document(s)" (click)="addValuatorDocument()"></p-button></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="10" style="text-align: center">Sorry! No record found</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" style="text-align: center">Sorry! No record found</td>
      </tr>
    </ng-template>
  </p-table>
</div>
