<p-toast></p-toast>
<div class="btnGroup-topbar">
    <p-overlayPanel #op [styleClass]="'export'">
      <ng-template pTemplate="content" >
        <p class="exportButton" (click)="exportExcel(op)">Pdf</p>
        <p class="exportButton" (click)="exportExcel(op)">Excel</p>
      </ng-template>
  </p-overlayPanel>
  <p-button (click)="op.toggle($event)" icon="fa-solid fa-arrow-up-right-from-square"></p-button>
  <p-button
    icon="fa-solid fa-circle-plus"
    (click)="addData()"
  ></p-button>
</div>
<div class="card mt-3">
  <p-table
    #search
    [value]="data"
    loadingIcon="fa-solid fa-spinner fa-spin-pulse"
    [loading]="isLoading"
    [breakpoint]="'960px'"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    [filterDelay]="0"
    [tableStyle]="{ 'min-width': '70rem' }"
    styleClass ="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th ></th>
        <th pSortableColumn="provinceCode">ProvinceCode  <p-sortIcon field="provinceCode"></p-sortIcon></th>
        <th pSortableColumn="provinceName">ProvinceName  <p-sortIcon field="provinceName"></p-sortIcon></th>
        <th pSortableColumn="provinceManagerEmailID">Email  <p-sortIcon field="provinceManagerEmailID"></p-sortIcon></th>
        <th pSortableColumn="provinceAddress" >ProvinceAddress  <p-sortIcon field="provinceAddress"></p-sortIcon></th>
        <th pSortableColumn="phoneNo">PhoneNo  <p-sortIcon field="phoneNo"></p-sortIcon></th>
        <th pSortableColumn="isActive">IsActive  <p-sortIcon field="isActive"></p-sortIcon></th>
      </tr>
       <tr class="filterSection">
        <th>
        </th>
        <th>
          <p-columnFilter type="text" field="provinceCode"[showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="provinceName" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="provinceManagerEmailID" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="provinceAddress" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="phoneNo" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="isActive" [showClearButton]="false" ></p-columnFilter>
      </th>
          
      </tr> 
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr style="white-space: nowrap">
        <td class="actionMenu flex justify-content-center align-items-center" >
          <p-overlayPanel #setting [styleClass]="'actionOverlay'">
            <ng-template pTemplate="content" >
              <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="showData(data.provinceCode)">
               <i class="fa-solid fa-file mr-2"></i> View
              </div>
              <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="editData(data.provinceCode)">
                <i class="fa-solid fa-pen-to-square mr-2"></i> Edit
              </div>
              <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="deleteData(data.provinceCode)">
                <i class="fa-solid  fa-trash mr-2"></i> Delete
              </div>
             </ng-template>  
          </p-overlayPanel>
          <div pRipple class="action border-circle w-2rem h-2rem flex justify-content-center align-items-center" (click)="setting.toggle($event)">
            <i class="fa-solid fa-gear"></i>
          </div>
        </td>
        <td>{{ data?.provinceCode }}</td>
        <td>{{ data?.provinceName }}</td>
        <td>{{ data?.provinceManagerEmailID }}</td>
        <td>{{ data?.provinceAddress }}</td>
        <td>{{ data?.phoneNo }}</td>
        <td>{{ data?.isActive }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" style="text-align: center">Sorry! No record found</td>
      </tr>
    </ng-template>
  </p-table>
</div>