<div class="btnGroup-topbar">
  <p-button
    icon="fa-solid fa-arrow-up-right-from-square"
    (click)="exportExcel()"
  ></p-button>
  <p-button
    icon="fa-solid fa-circle-plus"
    (click)="addData()"
  ></p-button>
</div>
<div class="card mt-3">
  <p-table
    #search
    [value]="data"
    loadingIcon="fa-solid fa-spinner fa-spin-pulse"
    [loading]="isLoading"
    [breakpoint]="'960px'"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    [filterDelay]="0"
    [globalFilterFields]="['provinceCode', 'provinceName']"
    [tableStyle]="{ 'min-width': '80rem' }"
  >
    <ng-template pTemplate="header">
      <p-toast></p-toast>
      <tr>
        <th ></th>
        <th pSortableColumn="provinceCode">ProvinceCode  <p-sortIcon field="provinceCode"></p-sortIcon></th>
        <th pSortableColumn="provinceName">ProvinceName  <p-sortIcon field="provinceName"></p-sortIcon></th>
        <th pSortableColumn="email">Email  <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="provinceAddress" >ProvinceAddress  <p-sortIcon field="provinceAddress"></p-sortIcon></th>
        <th pSortableColumn="phoneNo">PhoneNo  <p-sortIcon field="phoneNo"></p-sortIcon></th>
        <th pSortableColumn="isActive">IsActive  <p-sortIcon field="isActive"></p-sortIcon></th>
      </tr>
      <!-- <tr>
        <th>
        </th>
          <th>
            <input pInputText type="text" (input)="search.filter($event.target?.value, 'provinceCode', 'contains')"  placeholder="Search by Province Code" class="w-full">

          </th>
          <th>
              <input pInputText type="text" (input)="search.filter($event.target?.value, 'provinceName', 'contains')" placeholder="Search by Province Name" class="w-full">
          </th>
          <th>
              <input pInputText type="text" (input)="search.filter($event.target?.value, 'email', 'contains')"  placeholder="Search by Email" class="w-full">
          </th>
          <th>
              <input pInputText type="text" (input)="search.filter($event.target?.value, 'provinceAddress', 'contains')"  placeholder="Search by Province Address" class="w-full">
          </th>
          <th>
              <input pInputText type="text" (input)="search.filter($event.target?.value, 'phoneNo', 'contains')"  placeholder="Search by Phone Number" class="w-full">
          </th>
          <th>
              <input pInputText type="text" (input)="search.filter($event.target?.value, 'isActive', 'contains')" placeholder="Search by Status" class="w-full">
          </th>
      </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr style="white-space: nowrap">
        <td>
          <button
            pButton
            pRipple
            icon="fa-solid fa-file"
            class="p-button-rounded p-button-secondary p-button-text mr-1"
            (click)="showData(data.provinceCode)"
          ></button>
          <button
            pButton
            pRipple
            icon="fa-solid fa-pen-to-square"
            class="p-button-rounded p-button-success p-button-text mr-1"
            (click)="editData(data.provinceCode)"
          ></button>
          <button
            pButton
            pRipple
            icon="fa-solid fa-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="deleteData(data.provinceCode)"
          ></button>
        </td>
        <td>{{ data?.provinceCode }}</td>
        <td>{{ data?.provinceName }}</td>
        <td>{{ data?.provinceManagerEmailID }}</td>
        <td>{{ data?.provinceAddress }}</td>
        <td>{{ data?.phoneNo }}</td>
        <td>{{ data?.isActive }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" style="text-align: center">Sorry! No record found</td>
      </tr>
    </ng-template>
  </p-table>
</div>