<p-toast></p-toast>
<form [formGroup]="myForm" class="addForm relative min-h-full h-auto mb-3">
  <div class="field grid">
    <label
      for="branchName"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Branch Name: <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <input
        id="branchName"
        type="text"
        formControlName="branchName"
        [ngClass]="{
          'invalid-input':
            myForm.get('branchName')?.invalid &&
            myForm.get('branchName')?.touched
        }"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <label
      for="branchNameNepali"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Branch Name in Nepali:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <input
        id="branchNameNepali"
        type="text"
        formControlName="branchNameNepali"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
  </div>
  <div class="field grid">
    <label
      for="dataProviderBranchId"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Data Provider Branch Id: <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <input
        id="dataProviderBranchId"
        type="text"
        formControlName="dataProviderBranchId"
        [ngClass]="{
          'invalid-input':
            myForm.get('dataProviderBranchId')?.invalid &&
            myForm.get('dataProviderBranchId')?.touched
        }"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <label
      for="previousDataProviderBranchId"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Previous Data Provider Branch ID:
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <input
        id="previousDataProviderBranchId"
        type="text"
        formControlName="previousDataProviderBranchId"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
  </div>
  <div class="field grid">
    <label
      for="district"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >District: <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <p-dropdown
        [options]="districtList"
        formControlName="district"
        optionLabel="name"
        optionValue="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Select a district"
      >
      </p-dropdown>
    </div>
    <label
      for="provinceName"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Province Name <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <p-dropdown
        [options]="provinceList"
        formControlName="provinceName"
        optionLabel="name"
        optionValue="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Select a province"
      >
      </p-dropdown>
    </div>
  </div>
  <div class="field grid">
    <label
      for="branchAddress"
      class="col-12 mb-2 md:col-3 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Branch Address <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-12 md:col-9 sm:col-8">
      <textarea
        id="branchAddress"
        type="text"
        rows="5"
        formControlName="branchAddress"
        style="resize: none"
        [ngClass]="{
          'invalid-input':
            myForm.get('branchAddress')?.invalid &&
            myForm.get('branchAddress')?.touched
        }"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      >
      </textarea>
    </div>
  </div>
  <div class="field grid">
    <label
      for="phoneNo"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Phone No
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <input
        id="phoneNo"
        type="text"
        formControlName="phoneNo"
        [ngClass]="{
          'invalid-input':
            myForm.get('phoneNo')?.invalid && myForm.get('phoneNo')?.touched
        }"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <label
      for="branchManagerEmailId"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Branch Manager EmailID <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <input
        id="branchManagerEmailId"
        type="email"
        formControlName="branchManagerEmailId"
        [ngClass]="{
          'invalid-input':
            myForm.get('branchManagerEmailId')?.invalid &&
            myForm.get('branchManagerEmailId')?.touched
        }"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />

    </div>
  </div>
  <div class="field grid">
    <label
      for="performanceCutOff"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Performance Cut Off: <span style="color: red">&nbsp; *</span></label
    >
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <input
        id="performanceCutOff"
        type="text"
        formControlName="performanceCutOff"
        [ngClass]="{
          'invalid-input':
            myForm.get('performanceCutOff')?.invalid &&
            myForm.get('performanceCutOff')?.touched
        }"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
      
    </div>
    <label
      for="isActive"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >isActive <span style="color: red">&nbsp; *</span>
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <p-selectButton
        [options]="stateOptions"
        [style]="{ width: '10em' }"
        formControlName="isActive"
      ></p-selectButton>
    </div>
  </div>
  <div
    class="flex justify-content-center align-items-center font-bold text-xl m-3"
  >
    Enable KSKL Inquiry
  </div>
  <div class="field grid">
    <label
      for="accountMonitoring"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Account Monitoring: <span style="color: red">&nbsp; *</span>
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <p-selectButton
        [options]="stateOptions"
        [style]="{ width: '10em' }"
        formControlName="accountMonitoring"
      ></p-selectButton>
    </div>
    <label
      for="stockInspection"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Stock Inspection: <span style="color: red">&nbsp; *</span>
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <p-selectButton
        [options]="stateOptions"
        [style]="{ width: '10em' }"
        formControlName="stockInspection"
      ></p-selectButton>
    </div>
  </div>
  <div class="field grid">
    <label
      for="pendingDocument"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Pending Document: <span style="color: red">&nbsp; *</span>
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <p-selectButton
        [options]="stateOptions"
        [style]="{ width: '10em' }"
        formControlName="pendingDocument"
      ></p-selectButton>
    </div>
    <label
      for="insurance"
      class="col-6 mb-3 md:col-3 sm:mb-1 md:justify-content-end sm:justify-content-start font-bold sm:col-4"
      >Insurance: <span style="color: red">&nbsp; *</span>
    </label>
    <div class="col-6 md:col-3 sm:mb-1 sm:col-8">
      <p-selectButton
        [options]="stateOptions"
        [style]="{ width: '10em' }"
        formControlName="insurance"
      ></p-selectButton>
    </div>
  </div>
</form>
<div
  class="btnGroup absolute z-1 flex mt-3 h-3rem bg-white justify-content-end pb-2"
  style="bottom: 0px; width: 95%; margin-top: 3rem"
>
  <button
    pButton
    type="button"
    label="Cancel"
    class="p-button-raised p-button-text p-button-plain mr-2"
    (click)="onCancel()"
  ></button>
  <button
    pButton
    type="button"
    label="Submit"
    class="p-button-raised p-button-info"
    (click)="onSubmit()"
  ></button>
</div>
