<p-toast></p-toast>
<div class="btnGroup-topbar">
    <p-overlayPanel #op [styleClass]="'export'">
      <ng-template pTemplate="content" >
        <p class="exportButton" (click)="exportExcel(op)">Pdf</p>
        <p class="exportButton" (click)="exportExcel(op)">Excel</p>
      </ng-template>
  </p-overlayPanel>
  <p-button (click)="op.toggle($event)" icon="fa-solid fa-arrow-up-right-from-square"></p-button>
  <p-button
    icon="fa-solid fa-circle-plus"
    (click)="addData()"
  ></p-button>
</div>
<div class="card mt-3">
  <p-table
    #search
    [value]="data"
    loadingIcon="fa-solid fa-spinner fa-spin-pulse"
    [loading]="isLoading"
    [breakpoint]="'960px'"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    [filterDelay]="0"
    [tableStyle]="{ 'min-width': '70rem' }"
    styleClass ="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr style="white-space: nowrap">
        <th></th>
        <th pSortableColumn="dataProviderBranchId">
          BranchCode <p-sortIcon field="dataProviderBranchId"></p-sortIcon></th>
        <th pSortableColumn="branchName">BranchName <p-sortIcon field="branchName"></p-sortIcon></th>
        <th pSortableColumn="provinceName">Province <p-sortIcon field="provinceName"></p-sortIcon></th>
        <th pSortableColumn="district">District <p-sortIcon field="district"></p-sortIcon></th>
        <th pSortableColumn="branchAddress">
          BranchAddress <p-sortIcon field="branchAddress"></p-sortIcon>
        </th>
        <th pSortableColumn="phoneNo" >PhoneNo <p-sortIcon field="phoneNo"></p-sortIcon></th>
        <th pSortableColumn="performanceCutOff">
          PerfCutOff <p-sortIcon field="performanceCutOff"></p-sortIcon></th>
        <th pSortableColumn="isActive">isActive <p-sortIcon field="isActive"></p-sortIcon></th>
      </tr>
      <tr class="filterSection">
        <th>
        </th>
        <th>
          <p-columnFilter type="text" field="dataProviderBranchId"[showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="branchName" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="provinceName" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="district" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="branchAddress" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="phoneNo" [showClearButton]="false" ></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="performanceCutOff" [showClearButton]="false" ></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="isActive" [showClearButton]="false" ></p-columnFilter>
      </th>
          
      </tr> 
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr style="white-space: nowrap">
        <td>
          <button
            pButton
            pRipple
            icon="fa-solid fa-file"
            class="functionButton p-button-rounded p-button-secondary p-button-text mr-1"
            (click)="showData(data.dataProviderBranchId)"
          ></button>
          <button
            pButton
            pRipple
            icon="fa-solid fa-pen-to-square"
            class="functionButton p-button-rounded p-button-success p-button-text mr-1"
            (click)="editData(data.dataProviderBranchId)"
          ></button>
          <button
            pButton
            pRipple
            icon="fa-solid fa-trash"
            class="functionButton p-button-rounded p-button-danger p-button-text"
            (click)="deleteData(data.dataProviderBranchId)"
          ></button>
        </td>
        <td>{{ data?.dataProviderBranchId }}</td>
        <td>{{ data?.branchName }}</td>
        <td>{{ data?.provinceName }}</td>
        <td>{{ data?.district }}</td>
        <td>{{ data?.branchAddress }}</td>
        <td>{{ data?.phoneNo }}</td>
        <td>{{ data?.performanceCutOff }}</td>
        <td>{{ data?.isActive }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" style="text-align: center">Sorry! No record found</td>
      </tr>
    </ng-template>
  </p-table>
</div>
