<div class="btnGroup-topbar">
  <p-button
  icon="fa-solid fa-wrench"
></p-button>
</div>
<div class="card mt-3">
  <p-table
    #search
    [value]="data"
    loadingIcon="fa-solid fa-spinner fa-spin-pulse"
    [loading]="isLoading"
    [breakpoint]="'960px'"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    [filterDelay]="0"
    [tableStyle]="{ 'min-width': '70rem' }"
    styleClass ="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr style="white-space: nowrap">
        <th pSortableColumn="loginName">LoginName <p-sortIcon field="loginName"></p-sortIcon></th>
        <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
        <th pSortableColumn="firstName">FirstName <p-sortIcon field="firstName"></p-sortIcon></th>
        <th pSortableColumn="lastName">LastName <p-sortIcon field="lastName"></p-sortIcon></th>
        <th pSortableColumn="phoneNumber">PhoneNumber <p-sortIcon field="phoneNumber"></p-sortIcon></th>
        <th pSortableColumn="emailId">EmailID <p-sortIcon field="emailId"></p-sortIcon></th>
        <th pSortableColumn="syncDate">SyncDate <p-sortIcon field="syncDate"></p-sortIcon></th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
      </tr>
      <tr class="filterSection">
        <th>
          <p-columnFilter type="text" field="loginName"[showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="title" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="firstName" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="lastName" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="phoneNumber" [showClearButton]="false"></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="emailId" [showClearButton]="false" ></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="syncDate" [showClearButton]="false" ></p-columnFilter>
      </th>
        <th>
          <p-columnFilter type="text" field="status" [showClearButton]="false" ></p-columnFilter>
      </th>
          
      </tr> 
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr style="white-space: nowrap">
        <td>{{ data?.loginName }}</td>
        <td>{{ data?.title }}</td>
        <td>{{ data?.firstName }}</td>
        <td>{{ data?.lastName }}</td>
        <td>{{ data?.phoneNumber }}</td>
        <td>{{ data?.emailId }}</td>
        <td>{{ data?.syncDate }}</td>
        <td>{{ data?.status }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="text-align: center">Sorry! No record found</td>
      </tr>
    </ng-template>
  </p-table>
</div>
