<div class="card mt-3">
  <p-table
    #search
    [value]="data"
    loadingIcon="fa-solid fa-spinner fa-spin-pulse"
    [loading]="isLoading"
    [breakpoint]="'960px'"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    [filterDelay]="0"
    [globalFilterFields]="['loginName']"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="fa-solid fa-search"></i>
          <input
            pInputText
            type="text"
            (input)="search.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search here..."
          />
        </span>
        <div class="btnGroup ml-1">
          <p-button icon="fa-solid fa-wrench"></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr style="white-space: nowrap">
        <th pSortableColumn="loginName">LoginName</th>
        <th pSortableColumn="title">Title</th>
        <th pSortableColumn="firstName">FirstName</th>
        <th pSortableColumn="lastName">LastName</th>
        <th pSortableColumn="phoneNumber">PhoneNumber</th>
        <th pSortableColumn="emailId">EmailID</th>
        <th pSortableColumn="syncDate">SyncDate</th>
        <th pSortableColumn="status">Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr style="white-space: nowrap">
        <td>{{ data?.loginName }}</td>
        <td>{{ data?.title }}</td>
        <td>{{ data?.firstName }}</td>
        <td>{{ data?.lastName }}</td>
        <td>{{ data?.phoneNumber }}</td>
        <td>{{ data?.emailId }}</td>
        <td>{{ data?.syncDate }}</td>
        <td>{{ data?.status }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" style="text-align: center">Sorry! No record found</td>
      </tr>
    </ng-template>
  </p-table>
</div>
