  <div class="btnGroup-topbar">
  <p-button
    icon="fa-solid fa-circle-plus"
    (click)="addData()"
  ></p-button>
</div>
  <div class="card mt-3">
      <p-toast></p-toast>
    <p-table
      #search
      [value]="data"
      loadingIcon="fa-solid fa-spinner fa-spin-pulse"
      [loading]="isLoading"
      [breakpoint]="'960px'"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [paginator]="true"
      [filterDelay]="0"
      [tableStyle]="{ 'min-width': '70rem' }"
      styleClass ="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr style="white-space: nowrap">
          <th></th>
          <th pSortableColumn="subject">Subject <p-sortIcon field="subject"></p-sortIcon></th>
          <th pSortableColumn="isActive">isActive <p-sortIcon field="isActive"></p-sortIcon></th>
          <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
          <th pSortableColumn="showupto">ShowUpto <p-sortIcon field="showupto"></p-sortIcon></th>
        </tr>
        <tr class="filterSection">
          <th>
          </th>
          <th>
            <p-columnFilter type="text" field="subject"[showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="isActive" [showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="status" [showClearButton]="false"></p-columnFilter>
        </th>
          <th>
            <p-columnFilter type="text" field="showupto" [showClearButton]="false"></p-columnFilter>
        </th>            
        </tr> 
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr style="white-space: nowrap">
          <td class="actionMenu flex justify-content-center align-items-center" >
            <p-overlayPanel #setting [styleClass]="'actionOverlay'">
              <ng-template pTemplate="content" >
                <!-- <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="showData(data.subject)">
                 <i class="fa-solid fa-file mr-2"></i> View
                </div> -->
                <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="editData(data.subject)">
                  <i class="fa-solid fa-pen-to-square mr-2"></i> Edit
                </div>
                <div pRipple class="actionItem w-full h-2rem flex justify-content-start align-items-center" (click)="deleteData(data.subject)">
                  <i class="fa-solid  fa-trash mr-2"></i> Delete
                </div>
               </ng-template>  
            </p-overlayPanel>
            <div pRipple class="action border-circle w-2rem h-2rem flex justify-content-center align-items-center" (click)="setting.toggle($event)">
              <i class="fa-solid fa-gear"></i>
            </div>
          </td>
          <td>{{ data?.subject }}</td>
          <td>{{ data?.isActive }}</td>
          <td>{{ data?.status }}</td>
          <td>{{ data?.showupto }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9" style="text-align: center">Sorry! No record found</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  