/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
:root {
  --cyan: #06b6d4;
  --white: #ffffff;
  --primary: #3b82f6;
  --success: #22c55e;
  --danger: #ff3d32;
  --lightDark: #6c757d;
  --moderateDark: #343a40;
  --shine: #01a1c1;
  --dark: #000000;
  --sidePanel: #292323;
  --sidePanellabel: #495057;
  --sidePanelHover: #e9ecef;
  --topnavbarcolor1: #4b6cb7;
  --topnavbarcolor2: #182848;
  --topnavbarHover: #23252a;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.p-password {
  width: 100% !important;
}
.p-inputtext {
  width: 100% !important;
}
.leftSidePanel::-webkit-scrollbar {
  width: 3px;
}
.leftSidePanel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--white);
  border-radius: 10px;
}

/* Handle */
.leftSidePanel::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 10px;
}
.leftSidePanel .leftPanelContainer .p-panelmenu .p-panelmenu-header {
  background-color: transparent;
}

.leftSidePanel .leftPanelContainer .p-panelmenu .p-panelmenu-header > a {
  display: block;
  padding: 8px 12px;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  background-color: transparent;
  border: none;
  transition: 0.2s ease-in-out;
  color: var(--white);
}
.leftSidePanel .leftPanelContainer .p-panelmenu .p-panelmenu-header > a:focus {
  box-shadow: none;
}
.leftSidePanel
  .leftPanelContainer
  .p-panelmenu
  .p-panelmenu-header
  > a
  .p-menuitem-icon {
  width: 30px;
  margin-right: unset;
}
.leftSidePanel
  .leftPanelContainer
  .p-panelmenu
  .p-panelmenu-header
  .p-menuitem-link-active {
  color: var(--dark) !important;
}

.leftSidePanel .leftPanelContainer .p-panelmenu .p-panelmenu-header > a:hover {
  padding: 8px 14px;
  background-color: var(--topnavbarHover) !important;
  color: var(--white) !important;
  transition: 0.2s ease-in-out;
}
.leftSidePanel .leftPanelContainer .p-panelmenu .p-panelmenu-header > a span {
  margin-left: 12px;
  font-size: 16px;
}

.leftSidePanel
  .leftPanelContainer
  .p-panelmenu
  .p-panelmenu-header
  > a
  .p-menuitem-text {
  white-space: nowrap !important;
}

.leftSidePanel .leftPanelContainer .p-panelmenu .p-panelmenu-icon {
  position: absolute;
  right: 0;
  top: 15px;
  transform: rotate(90deg);
}
.leftSidePanel .leftPanelContainer .p-panelmenu .p-panelmenu-content {
  /* border: 2px solid var(--moderateDark); */
  background-color: var(--shine);
  padding: unset;
}
.leftSidePanel .leftPanelContainer .p-panelmenu .p-panelmenu-content {
  border: unset;
  background-color: transparent;
}
.leftSidePanel
  .leftPanelContainer
  .p-panelmenu
  .p-panelmenu-content
  .p-element
  .p-menuitem-link {
  padding: unset;
  color: var(--white);
}
.p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  .p-menuitem-link
  .p-menuitem-text {
  color: unset !important;
}
.leftSidePanel .p-element .p-highlight a {
  color: var(--white) !important;
}
.leftSidePanel
  .leftPanelContainer
  .p-panelmenu-panel
  .p-panelmenu-content
  .p-element
  .p-menuitem-link-active {
  color: var(--dark) !important;
}
.leftSidePanel
  .leftPanelContainer
  .p-panelmenu
  .p-panelmenu-content
  .p-element
  .p-menuitem-link
  span {
  padding: 0.75rem 1.55rem;
  width: 260px;
  font-weight: 600;
  display: inline-flex;
  justify-content: flex-start;
  transition: 0.2s ease-in-out;
}

.leftSidePanel
  .leftPanelContainer
  .p-panelmenu
  .p-panelmenu-content
  .p-element
  .p-menuitem-link:focus {
  box-shadow: none;
}
.leftSidePanel
  .leftPanelContainer
  .p-panelmenu
  .p-panelmenu-content
  .p-element
  .p-menuitem-link:hover {
  padding: 0px 2px;
  background-color: var(--topnavbarHover) !important;
  color: var(--white) !important;
  transition: padding 0.2s ease-in-out;
  /* color: var(--white) !important; */
}
/* .p-menuitem-link-active {
  background-color: red !important;
} */

.rightSidePanel .p-sidebar {
  width: 15rem !important;
  overflow: hidden;
  height: 90.5%;
  top: 60px !important;
  position: absolute !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rightSidePanel .p-sidebar-header span {
  width: 175px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
}

.company-heading .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  color: var(--lightDark) !important;
  font-size: 16px !important;
  font-weight: 600;
}
.company-heading
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem.p-highlight
  .p-menuitem-link {
  border-color: var(--topnavbarcolor1) !important;
}
.company-heading
  .p-tabmenu
  .p-tabmenu-nav
  .p-highlight
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--topnavbarcolor1) !important;
}

/* Profile */
.topnavbar .profile .p-overlay {
  top: 60px !important;
  right: 5px !important;
  left: unset !important;
}

.topnavbar .profile .p-overlay .p-overlay-content {
  padding: unset !important;
  min-width: 15rem;
  border-radius: 10px !important;
}
.topnavbar .profile .p-overlay .p-overlay-content .userinfo {
  display: flex;
  background-color: var(--shine);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70px;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  color: var(--white);
}
.topnavbar .profile .p-overlay .p-overlay-content .userSettings {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}
.topnavbar
  .profile
  .p-overlay
  .p-overlay-content
  .userSettings
  .p-button.p-button-text {
  padding: unset !important;
  height: 40px;
  padding: 5px !important;
}
.topnavbar
  .profile
  .p-overlay
  .p-overlay-content
  .userSettings
  .p-button.p-button-text
  .p-button-label {
  font-weight: 500;
}

.topnavbar .notification .p-overlay {
  top: 60px !important;
  right: 5px !important;
  left: unset !important;
}
.topnavbar .notification .p-overlay .p-overlay-content {
  min-width: 15rem;
}

/* Edit Form */
.editForm .p-card {
  box-shadow: unset !important;
}

/* Toast */
.p-toast-top-right {
  top: 60px !important;
}

.invalid-input {
  border-color: red !important;
}
