/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
:root {
  --cyan: #06b6d4;
  --white: #ffffff;
  --primary: #3b82f6;
  --success: #22c55e;
  --danger: #ff3d32;
  --dark: #000000;
  --sidePanel: #292323;
  --sidePanellabel: #495057;
  --sidePanelHover: #e9ecef;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.p-password {
  width: 100% !important;
}
.p-inputtext {
  width: 100% !important;
}
.p-sidebar {
  width: 15rem !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.p-sidebar-right {
  top: 4rem !important;
  min-height: 100vh !important;
  position: absolute !important;
}

.p-panelmenu .p-panelmenu-header > a {
  border: none !important;
  background-color: transparent !important;
  padding: 0.75rem 1.25rem;
  color: var(--sidePanellabel);
  font-weight: unset;
}
.p-panelmenu .p-panelmenu-header > a:hover {
  background-color: var(--sidePanelHover) !important;
  padding: 0.75rem 1.5rem;
  color: var(--primary) !important;
  transition: 0.1s ease-in-out;
}
.p-panelmenu .p-panelmenu-header > a .p-menuitem-text {
  white-space: nowrap !important;
}

.semi-closed .p-menuitem-text {
  display: none;
}
.p-panelmenu-icon {
  position: absolute;
  right: 0;
  margin-top: -7px;
  transform: rotate(90deg);
}

.p-menuitem-link :hover {
  background-color: var(--sidePanelHover) !important;
  padding: 0rem 0.3rem;
  color: var(--primary) !important;
  transition: 0.1s ease-in-out;
}
